* body{
    margin: 0;
    padding: 0;
    
  }
  
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 8vh;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    background-color: #f2f4f4;
  }


  a {
    text-decoration: none;
  }
  
  

  h1 {
    color: #50a990;
  }
  
  h2 {
    font-size: 36px;
    margin-top: 5vh;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 22px;
    margin: 0;
  }

  #title {
    font-family: 'Noto Sans KR', sans-serif;
    color: #50A990;
    text-decoration: none;
    font-size: 24px;
  }

  
  .link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #192325;
    margin-left: 30px;
    cursor: pointer;
  }


  
  header .right-links a {
    padding: 0 10px;
  }
  
  main .title {
    width: 100%;
    text-align: center;
    color: white;
  }  

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(11, 11, 11);
    width: 100%;
    height: 92vh;
    background-color: #f2f4f4;
  }


 .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    background-color: white;
    width: 60%;
    max-height: 400px;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
  }
  
  