* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex; /* A mettre sur l'élément parent des éléments que l'on veut placer. Permet de disposer les enfants les uns à côté des autres ou en colonne */
  flex-direction: column; /* Ne marche qu'avec "display: flex;" permet de remettre les enfants en colonne*/
}

/* ========== HEADER ========== */

h1 {
    color: #50A990;
}

h2 {
  font-size: 36px;
  margin-top: 5vh;
  margin-bottom: 20px;
  }

  h3 {
    font-size: 22px;
    margin: 0;
  }

  #search {
    width: 88%;
    height: 40px;
    border: none;
    background-color: #50A990;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
header {
  padding: 25px;
  display: flex;
  justify-content: space-between; /* Marche avec "display: flex;", permet d'ajuster l'alignement des enfants */
}

header .right-links a {
  padding: 0 10px;
}

/* ========== MAIN CONTAINER ========== */


main {
  background: url("../images/background.jpg");
  background-size: cover;
  padding: 25px;
  display: flex;
  flex-wrap: wrap; /* Dit aux enfants de passer les uns sous les autres quand ils n'ont plus de place */
  justify-content: space-around;
  flex: 1;
}

main .title {
  width: 100%;
  text-align: center;
  color: white;
}




/* ========== White boxes ========== */

.formContainer,
.tripsContainer {
  padding: 20px;
  background-color: white;
  border-radius: 10px; /* Définit l'arrondi des bords */
  min-width: 300px;
  height: 350px;
  text-align: center; /* Centre le texte */
}

.tripsContainer {
  overflow-y: auto;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.trainImg {
  width: 100%;
  display: flex;
  justify-content: center; /* Alignement au centre des enfants, ici fe l'image */
}
.trainImg img {
  width: 80%;
}

#departureInput {
    background-color: #ababab;
    color: white;
    
  }

#arrivalInput{
  background-color: #ababab;
  color: white;
  
 
}
#searchBtn {
    padding: 10px;
    border: none;
    background-color: #459e85;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }