@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex; /* A mettre sur l'élément parent des éléments que l'on veut placer. Permet de disposer les enfants les uns à côté des autres ou en colonne */
  flex-direction: column; /* Ne marche qu'avec "display: flex;" permet de remettre les enfants en colonne*/
  font-family: "Nunito Sans", sans-serif;
}

/* ========== HEADER ========== */

h1 {
  color: #50a990;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  margin: 0;
}

#search {
  width: 88%;
  height: 40px;
  border: none;
  background-color: #50a990;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
header {
  padding: 25px;
  display: flex;
  justify-content: space-between; /* Marche avec "display: flex;", permet d'ajuster l'alignement des enfants */
}

header .right-links a {
  padding: 0 10px;
}

/* ========== MAIN CONTAINER ========== */

main {
  padding: 25px;
  display: flex;
  flex-wrap: wrap; /* Dit aux enfants de passer les uns sous les autres quand ils n'ont plus de place */
  justify-content: space-around;
  flex: 1;
}

main.index {
  background: url("../images/background.jpg");
  background-size: cover;
}

main .title {
  width: 100%;
  text-align: center;
  color: white;
}

/* ========== White boxes ========== */

.formContainer,
.tripsContainer {
  padding: 20px;
  background-color: white;
  border-radius: 10px; /* Définit l'arrondi des bords */
  width: 30%;
  max-width: 400px;
  min-width: 300px;
  height: 400px;
  text-align: center; /* Centre le texte */
}

.tripsContainer {
  overflow-y: auto;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}

.trainImg {
  width: 100%;
  display: flex;
  justify-content: center; /* Alignement au centre des enfants, ici fe l'image */
}
.trainImg img {
  width: 80%;
  max-width: 200px;
}
/* TRIPS LIST */
.trip {
  text-align: left;
  padding: 10px;
  background: #f5eeee;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
.trip:not(:last-child) {
  margin-bottom: 10px;
}

.fieldsContainer {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
}

/* BOOK BTN */
.bookBtn {
  width: fit-content;
  padding: 5px 8px;
  background: #459e85;
  color: white;
  border-radius: 5px;
}

form input {
  background-color: #eff1f1;
  color: #414141;
  border: 0;
  padding: 15px 20px;
}

#searchBtn {
  padding: 10px;
  border: none;
  background-color: #459e85;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
}
